img{
    width: 25rem;
}

header{
display: flex;
justify-content: center;
}


main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background: url("images/Background.png");
}


div{
    flex:100%;
}

@media (min-width:800px){
    div{
        flex:50%;
    }
}

@media (min-width:1100px){
    div{
        flex:33%;
    }
}